<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="/styles/checkout.css">
  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

 <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

 <!-- custom script -->
  <script type="text/javascript" src="/scripts/checkout.js"></script>

  <title>Buy It Here</title>

</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <!-- <a href="/"><img src="assets/agenda.png" class="brand-logo"></a> -->
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/logout">Log Out</a></li>
      </ul>
    </div>
  </nav>
  <div class="chContainer">

  <main>
    <section>
      <div class="bookContainer">
        <div class="images">
          <div class="bookDetail">
          <img src="https://99designs-blog.imgix.net/wp-content/uploads/2017/12/attachment_83090027.jpg?auto=format&q=60&fit=max&w=930">
          <a class="add" href="#">
            <h5>Out of the Box</h5>
            <h6>$12.99</h6>
          </div>
        </a>
        </div>
        <div class="images">
          <div class="bookDetail">
          <img src="https://99designs-blog.imgix.net/wp-content/uploads/2017/12/attachment_83090027.jpg?auto=format&q=60&fit=max&w=930">
          <a class="add" href="#">
          <h5>Out of the Box</h5>
          <h6>$12.99</h6>
          </div>
          </a>
        </div>
        <div class="images">
          <div class="bookDetail">
          <img src="https://99designs-blog.imgix.net/wp-content/uploads/2017/12/attachment_83090027.jpg?auto=format&q=60&fit=max&w=930">
          <a class="add" href="#">
          <h5>Out of the Box</h5>
          <h6>$12.99</h6>
          </div>
          </a>
        </div>
      </div>
    </section>
  </main>
  <aside>
    <h1>Check Out</h1>
    <div class="cart">
    </div>
    <button type="submit" name="button" id="ch">Check Out</button>
    <div class="modalContainer">
      <div class="modal-content">
          <button type="submit" name="button" id="xClose">X</button>
          <h1>Confirmation number: 1324557745623564</h1>
      </div>
    </div>
  </aside>
</div>
<!-- FLASH  -->
<script type="text/javascript" src="flash/flash-client.js"></script>
</body>
</html>
