<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <!-- custom styles -->
 <link rel="stylesheet" type="text/css" href="/styles/profile.css">

 <!-- jquery -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

 <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

 <!-- custom script -->
  <script type="text/javascript" src="/scripts/profile.js"></script>

  <title>Buy It Here</title>

</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="/"><img src="assets/agenda.png" class="brand-logo"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/logout">Log Out</a></li>
      </ul>
    </div>
  </nav>
  <h1>Welcome</h1>
  <div class="bodyContainer">
        <section>
          <div class="bookContainer">
            <div class="images">
              <img src="https://99designs-blog.imgix.net/wp-content/uploads/2017/12/attachment_83090027.jpg?auto=format&q=60&fit=max&w=930">
              <h5>Out of the Box</h5>
              <h6>$12.99</h6>
            </div>
            <div class="images">
              <img src="https://99designs-blog.imgix.net/wp-content/uploads/2017/12/attachment_83090027.jpg?auto=format&q=60&fit=max&w=930">
              <h5>Out of the Box</h5>
              <h6>$12.99</h6>
            </div>
            <div class="images">
              <img src="https://99designs-blog.imgix.net/wp-content/uploads/2017/12/attachment_83090027.jpg?auto=format&q=60&fit=max&w=930">
              <h5>Out of the Box</h5>
              <h6>$12.99</h6>
            </div>
          </div>
        </section>
      <input type="submit" class="btn" value="+">
      <div class="modalContainer">
        <div class="modal-content">
          <div id="searchContainer">
                <div class="search-selection">
                  <h3>Select a School</h3>
                    <select id="schools" name="slct1">

                    </select>
                </div>
                <div class="search-selection">
                  <h3>Select a Class</h3>
                    <select id="courses" name="slct1">

                    </select>
                </div>
        </div>
          <form method="POST" action="/api/books">
            <input type="text" name="title" value="" placeholder="Book Title" required>
            <input type="text" name="edition" value="" placeholder="edition">
            <input type="text" name="price" value="" placeholder="price">
            <input type="text" name="img" value="" placeholder="image">
            <button type="submit" name="Post" id="postBook">Post Book</button>
          </form>
      </div>
      </div>
  </div>
  <button type="submit" name="button"><a href='/checkout'>CHECK OUT</a></button>
  <!-- FLASH  -->
  <script type="text/javascript" src="flash/flash-client.js"></script> 
</body>
</html>
