body{
  background-image: url('https://images.unsplash.com/photo-1516979187457-637abb4f9353?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0c4b5fcc53abd6158286dc86a9be4bee&auto=format&fit=crop&w=1050&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
img{
  height: 200px;
  width: 200px;
}
section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: linear-gradient(to bottom, #d9d9d9, #85E0F7);
  padding: 2em;
  width: 800px;
  height: auto;
  margin: 0 5%;
}
.images{
  flex-direction: row;
  justify-content: space-between;
  margin: 30px;
  padding: 2%;
}
.images img{
  width: 100%;
}
.bookContainer{
  display: flex;
}
.addBook{
  display: flex;
  flex-direction: column;
    padding: 10px;
}
.bodyContainer{
  display: flex;
}
.modalContainer{
  padding: 100px;
  background-color: rgba(211, 211, 211, .3);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal-content{
  padding: 40px 20px;
  color: #444;
  width: 60%;
  background-color: white;
}
.modalopen{
  display: flex;
}
.brand-logo{
  height: 50px;
  width: auto;
}
.co{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(#d9d9d9, #85E0F7);
  padding: 2%;
}
.co button{
  width: 50%;
  margin: 0 auto;
}
.co h3{
  color: white;
}
input{
  margin: 0 auto;
}
nav{
  background: linear-gradient(to right, #d9d9d9, #85E0F7);
}
.brand-logo{
  height: 63px;
}
ul li a{
  font-size: 25px;
}
h1{
  text-align: center;
}
