img{
  height: 200px;
  width: 200px;
}
section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #d9d9d9;
  padding: 2em;
  width: 800px;
  height: auto;
}
.images{
  flex-direction: row;
  justify-content: space-between;
  margin: 30px;
}
.bookContainer{
  display: flex;
}
.addBook{
  display: flex;
  flex-direction: column;
    padding: 10px;
}
.bodyContainer{
  display: flex;
}
.modal{
  padding: 100px;
  background-color: rgba(211, 211, 211, .3);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal-content{
  padding: 40px 20px;
  color: #444;
  width: 60%;
  background-color: white;
}
